body > header
{
    display: grid;
    grid-template-rows: 66px 97px 40px;
}

@media screen and (min-width: 380px) and (max-width: 899px)
{
    .header-content-centering
    {
        padding: 0;
    }
}

@media screen and (min-width: 900px)
{
    .header-content-centering
    {
        padding: 0 18%;
    }
}

.header-logos
{
    display: flex;
    justify-content: center;
    padding: 8px 0 8px 0;
    background-color: rgb(228, 231, 235);
}

.header-title
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(3, 32, 73);
}

.header-title h1
{
    text-align: center;
    padding: 8px 0 8px 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

body > header > nav
{
    display: flex;
    flex-direction: row;
    background-color: rgb(53, 76, 109);
    color: white;
}

body > header > nav a /* Apply every level of the navbar */
{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}

.navbar-item
{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px 0 8px;
    transition: background-color 100ms ease-in-out;
}

.navbar-item:hover
{
    background-color: #677891;
}

.navbar-active-item
{
    background-color: #677891;
}

.navbar-item i
{
    margin-right: 8px;
}

.navbar-menu
{
    position: relative;
}

.navbar-options
{
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    /* width: min(max-content, 100%) */
    min-width: max-content;
    width: 100%; 
    background-color: #354c6d;
    opacity: 0;
    pointer-events: none; /* do not interact with pointer */
    transition: opacity 100ms ease-in-out;
}

.navbar-menu:hover .navbar-options
{
    opacity: 1;
    pointer-events: all;
}

.navbar-option
{
    height: 40px;
    padding-right: 0.8em;
    display: flex;
    align-items: center;
}