body main
{
    flex-grow: 1;
    display: grid;
    grid-template: 1fr / 350px 1fr 350px;
    margin-bottom: 50px;
}

body main article
{
    grid-column: 2 / span 1;
}

body main article .text-intro {
    --text-color: #3c4245;
    display: grid;
    grid-template: max-content max-content / 1fr;
    color: var(--text-color);
}

body main article .text-intro > header {
    grid-column: 1 / span 2;
    border-bottom: var(--text-color) 1px solid;
}

body main article .text-intro header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

body main article .text-intro section {
    padding: 2rem;
}

body main article .text-intro section p {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 2rem;
    text-align: justify;
}

body main article #graphics {
    border: #3c4245 1px solid;
    border-radius: 24px;
    padding: 1rem;
}

body main {
    --text-color: #3c4245;
    color: var(--text-color);
}

section[class="table-container"] table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

section[class="table-container"] table thead th[class="pvtAxisLabel"] {
    /* background-color: aquamarine; */
    color: aquamarine;
}

section[class="table-container"] table thead th[class="pvtColLabel"] {
    border: 1px solid black;
}

section[class="table-container"] table thead {
    border: 1px solid black;
    background-color: aquamarine;
}

section[class="table-container"] table th {
    padding: 1rem;
}

section[class="table-container"] table tbody td, section[class="table-container"] table tbody th {
    padding: 1rem;
    border: 1px solid black;
}