body main
{
    flex-grow: 1;
    display: grid;
    grid-template: 1fr / 350px 1fr 350px;
    margin-bottom: 50px;
}

body main article
{
    grid-column: 2 / span 1;
}

body main {
    --text-main-color: #3c4245;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    color: var(--text-main-color);
}

body main article .text-intro {
    display: grid;
    grid-template: max-content max-content / 1fr;
}
