/* Variables */

$leftSidebarWidth: 250px;

:root {
    --dominant-color: white;
    --texture-color: #3c78d8;
    --accent-color: #7500C4;
    --footer-bg-color: #19232d;
    --text-main-color: white;
}

:root {
    --color-link-active: #2071cc;
}